# Игнорировать все файлы виртуального окружения
venv/
.env/
virtualenv/
ENV/
env/

# Игнорировать pycache (кешированные файлы Python)
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать файлы на основе операционной системы
.DS_Store  # Для MacOS
Thumbs.db  # Для Windows

# Игнорировать файлы, связанные с сессиями Python
*.log

# Игнорировать конфигурационные файлы и каталоги, специфичные для IDE
*.iml  # IntelliJ IDEA

# Игнорировать файлы/папки тестов
test_reports/

# Игнорировать файлы конфигурации для инструментов сборки
*.bak
*.swp